body {
    text-align: center;
    padding: 20px;
    background-color: #111;
    color: #fff;
    font-family: 'Lilita One', sans-serif;
    user-select: none;
}

/* Header and Navigation */
#site-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    background-color: #222;
    z-index: 1000;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.logo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transition: transform 0.2s ease-in-out;
}

.logo:hover {
    transform: scale(1.1);
}

.site-titles {
    flex-grow: 1;
    text-align: left;
    margin-left: 15px;
}

.site-title {
    font-weight: bold;
    font-size: 1.5rem;
}

.site-subtitle {
    font-size: 1.1rem;
    opacity: 0.8;
}

.social-links {
    display: flex;
    gap: 20px;
}

.social-link {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 12px;
}

.social-link:hover {
    background-color: #333;
}

.icon {
    width: 35px;
    height: 35px;
}

/* Extensions */
.ext-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.ext-breaker {
    display: inline-block;
    width: 90%;
    border-bottom: dashed 6px rgba(255, 255, 255, 0.2);
    margin: 10px;
}

.ext-holder {
    display: inline-block;
    width: 300px;
    height: 285px;
    margin: 20px 20px 20px 20px;
    border: solid grey 2px;
    border-radius: 19px;
    opacity: 0;
    cursor: pointer;
    transition: transform 200ms ease-in-out;
    transform: scale(1);
}

.ext-holder:hover {
    filter: url(#bloom-filter);
    transform: scale(1.1);
}

.ext-data pre {
    margin: 0;
    padding: 7px 10px 10px 10px;
    text-wrap: wrap;
    font-family: Sans-Serif;
    font-size: 15px;
    user-select: text;
}

.ext-data .desc-breaker {
    width: 250px;
    border-top: dashed grey 2px;
    margin: auto;
}

.ext-data .update-date {
    width: 300px;
    position: absolute;
    bottom: 2px;
    padding: 0 0 10px 0;
    color: #a1a1a1;
    font-size: 14px;
    font-style: italic;
}

.ext-credits {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.ext-credits .icon {
    width: 25px;
    height: 25px;
}

.ext-tag {
    position: absolute;
    right: -35px;
    top: -25px;
}

.ext-pin {
    position: absolute;
    left: 5px;
    top: 5px;
    transition: transform 200ms ease-in-out;
    transform: scale(0.8);
}

.ext-pin:hover {
    transform: scale(0.9);
}

main {
    padding-top: 100px;
    margin-bottom: 100px;
    flex: 1;
}

footer {
    position: fixed;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    margin-top: auto;
    align-items: center;
    z-index: 1000;
}